h1, h2, h3, nav, aside, p, footer{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#f0f0f0;
}


body{
    background-color: black;
}

a{
    color:#f0f0f0;
    text-decoration: none;
    transition: color 0.5s linear;
}

a:hover{
    color: red;
}

h1{
    position: fixed;
    top: 100px;
    left: 150px;
}

nav{
    position: fixed;
    top: 300px;
    left: 150px;
}

section#introduction{
    width: 500px;
    position: absolute;
    left: 500px;
    top: 225px;
    border-color: white;
}

section#follow{
    position: absolute;
    left: 500px;
    top: 575px;
}

section#contact{
    position:absolute;
    left:500px;
    top:800px;
}

p.better{
    position: fixed;
    top:160px;
    left:200px;
    font-size:12px;
}

ul{
    list-style: circle;
    position:relative;
    padding:15px;
    margin:0px;
}

img.ig{
    width:30px;
    position:relative;
    top: 10px;
}

img.vsco{
    width:25px;
    position:relative;
    top:6px;
    left:3px;
}

img.mail{
    width:50px;
    position: relative;
    top:10px;
    right:7px;
}

span.maillink{
    position: relative;
    right:10px;
}

img.phone{
    width:45px;
    position: relative;
    right:7px;
}
span.phonee{
    position: relative;
    bottom:20px;
    right:7px;
}

p.dm{
    position: relative;
    bottom:15px;
}

figure{
    position:fixed;
    z-index:-1;
    left:75px;
}

p.back{
    position: fixed;
    left: 150px;
    top:400px;
}

h2{
    font-size: 1.3rem;
}

@media screen and (max-width:1050px) and (min-width:650px){
    img.fundal{
        position: absolute;
        left:-120px;
        top:50px;
    }

    section#contact, section#follow, section#introduction{
        width:500px;
        font-size:20px;
    }

    section#follow{
        top: 650px;
    }

    section#contact{
        top: 900px;
    }
}

@media screen and (max-width:650px){
    img.fundal{
        position: fixed;
        top:200px;
        left: 0px;
    }
    h1{
        position: relative;
        top:20px;
        left:70px;
        font-size: 60px;
    }
    p.better{
        position: relative;
        font-size: 20px;
        top:-200px;
    }

    nav{
        position: relative;
        font-size:25px;
        left: 400px;
        top:100px;
    }

    p.back{
        position: absolute;
        top:405px;
        left:395px;
        font-size:22px;
        width:100%;
    }

    h2{
        font-size: 25px;
    }
    section#introduction{
        position: relative;
        top:150px;
        left:80px;
        font-size: 23px;
    }

    section#follow{
        position: relative;
        top:200px;
        left:80px;
        font-size: 23px;
    }

    section#contact{
        position: relative;
        top:250px;
        left:80px;
        font-size:23px;
        width: 600px;
    }
}