h1, h2, h3, nav, aside, p, footer{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#f0f0f0;
}


body{
    background-color: black;
}

a{
    color:#f0f0f0;
    text-decoration: none;
}

a:hover{
    color:red;
}

h1{
    position: fixed;
    top: 100px;
    left: 150px;
}

nav{
    position: fixed;
    top: 300px;
    left: 150px;
}

ul{
    list-style: circle;
    position:relative;
    padding:15px;
    margin:0px;
}

section#sculpture{
    position:relative;
    left:500px;
    width:825px;
}

section#afterhours{
    position: relative;
    top:100px;
    left:500px;
    width:825px;
}

section#colder{
    position: relative;
    top: 150px;
    left:500px;
    width:825px;
}

p.back{
    position: fixed;
    left: 150px;
    top:400px;
}

h2{
    font-size: 1.3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}