h1, h2, h3, nav, aside, p, footer{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#f0f0f0;
}


body{
    background-color: black;
}

a{
    color:#f0f0f0;
    text-decoration: none;
    transition: color 0.5s linear;
}

a:hover{
    color: red;
}

nav{
    position: absolute;
    top: 10%;
    left: 75%;
    font-size: 14px;
}

img{
    width:250px;
}

h1{
    position: absolute;
    left:20%;
}

ul{
    margin:0;
    padding:0;
    width:7vw;
}

ul li{
    display:block;
    position:relative;
}

ul li a{
    display:block;
}

ul ul {
    position:absolute;
    top: 0;
    display:none;
}

ul li:hover ul{
    display:block;
    left:7vw;
}

p{
    position: absolute;
    top:10%;
    left:50%;
    font-size:12px;
}

p.back{
    position: absolute;
    left: 80%;
    top:28%;
    right:auto;
}


.container {
    position: relative;
    width:25%;
    /* top:15vw;
    left:11vw;*/
    border:0;
}

.container img {
    width: 100%;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s linear;
    background-color: black;
}

.container:hover .overlay {
    opacity: 50%;
}

.text {
    color: white;
    font-size: 1rem;
    position: relative;
    top: 50%;
    align-self: center;
    text-align: center;
}

.row {
    top:200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 20%;
    max-width: 100%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
main{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    align-self: center;
}

p.login{
    left:2%;
    top: 0;
}

p.register{
    left:2%;
    top: 15px;
}

input[type=text], input[type=password] {
  border-radius: 5px;
  background-color:black;
  border-color: gray;
  color:white;
  font-size: 11px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-left: 20px;
  padding-left: 10px;
  padding-right:0;
}

input[type=submit]{
    margin-left:15px;
    background-color: black;
    color:white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-radius:5px;
    border-color:gray;
    padding: 0px 2px 0px 2px;
    transition: color 0.5s linear;
}

input[type=submit]:hover{
    color: red;
}

.curent{
    color: red !important;
}

p#timespent{
    position: absolute;
    left: 73%;
    top:31%;
    right:auto;
}

p#wordcount{
    position: absolute;
    left: 73%;
    top:34%;
    right:auto;
}

div#buttons{
    position: absolute;
    top: 30%;
    left: 14%
}

p.pmax{
    position: fixed;
    left: 49%;
    top: 32%;
}

p.pmin{
    position: fixed;
    left: 55.5%;
    top: 32%;
}
a.logout{
    font-size: 13px;
    position: relative;
}
p.userlogged{
    position: static;

}

.none{
    display: none;
}

button{
    background-color:black;
    color:white;
    border-radius: 5px;
    border-color:gray;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

@media screen and (max-width: 1050px) {
    .column {
        flex: 33%;
        max-width: 100%;
    }

    main{
        align-content: center;
    }
}

    @media screen and (max-width: 650px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

}