<!DOCTYPE html>
<html lang = "en">
	<head>
		<title> St. Lu </title>
		<!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->
		<link rel="shortcut icon" type="image/x-icon" href="pictures/logov2.jpg">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" type="text/css" href="css/404styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Luana Strimbeanu">

		<meta name="keywords" content="photography, luana, strimbeanu">
		<meta name="description" content="Luana Strimbeanu Photography - The official site. Portfolio. Store">
		
    </head>

    <main>
        <h1>Error 404! </h1>
        <h2 class = "notfound">Page not found.</h2>
        <figure>
            <img class="fundal" alt="broken image" src="pictures/about.jpg">
        </figure>
    </main>
</html>