<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Projects </title>
		<link rel="shortcut icon" type="image/x-icon" href="../pictures/logov2.jpg">
		<link rel="stylesheet" type="text/css" href="../css/projectsstyles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<meta name="author" content="Luana Strimbeanu">
		<meta name="keywords" content="photography, luana, strimbeanu, projects, colder, after hours, sculpture">
		<meta name="description" content="Luana Strimbeanu Photography - Portfolio">
	</head>

	<body>
		<%- include('../fragments/header.ejs') %>
		<main>
			<h1> Portfolio </h1>
			<section id="sculpture">
				<h2> Sculpture - 2017 </h2>
				<aside> glory & gore </aside>
			
				<div class="row">

					<div class="column">
						<img alt="broken image" src="pictures/sculpture1.jpg">
						<img alt="broken image" src="pictures/sculpture4.jpg">
						<img alt="broken image" src="pictures/sculpture7.jpg">
					</div>

					<div class="column">
						<img alt="broken image" src="pictures/sculpture2.jpg">
						<img alt="broken image" src="pictures/sculpture5.jpg">
						<img alt="broken image" src="pictures/sculpture8.jpg">
					</div>

					<div class="column">
						<img alt="broken image" src="pictures/sculpture3.jpg">
						<img alt="broken image" src="pictures/sculpture6.jpg">
						<img alt="broken image" src="pictures/sculpture9.jpg">
					</div>

				</div>
			
			</section>
			<section id="afterhours">
				<h2> After Hours - 2018 </h2>
				<aside> a collection of summer sunsets </aside>
				<div class="row">
					<div class="column">
						<img alt="broken image" src="pictures/afterhours7.jpg">
						<img alt="broken image" src="pictures/afterhours1.jpg">
						<img alt="broken image" src="pictures/afterhours4.jpg">
					</div>

					<div class="column">
						<img alt="broken image" src="pictures/afterhours8.jpg">
						<img alt="broken image" src="pictures/afterhours2.jpg">
						<img alt="broken image" src="pictures/afterhours5.jpg">
					</div>
					
					<div class="column">
						<img alt="broken image" src="pictures/afterhours9.jpg">
						<img alt="broken image" src="pictures/afterhours3.jpg">
						<img alt="broken image" src="pictures/afterhours6.jpg">
					</div>
				</div>
			</section>
			
			<section id="colder">
				<h2> Colder - 2018 </h2>
				<aside> in the fog // in the mountains </aside>
				
				<div class="row">
					<div class="column">
						<img alt="broken image" src="pictures/colder5.jpg">
						<img alt="broken image" src="pictures/colder1.jpg">
					</div>

					<div class="column">
						<img alt="broken image" src="pictures/colder4.jpg">
						<img alt="broken image" src="pictures/colder2.jpg">
					</div>

					<div class="column">
						<img alt="broken image" src="pictures/colder6.jpg">
						<img alt="broken image" src="pictures/colder3.jpg">
					</div>

				</div>
			</section>
		</main>
		<footer>
			<p class="back"><a href="/"> &larr; home </a></p>
		</footer>
	</body>
</html>