<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Store </title>
		<link rel="shortcut icon" type="image/x-icon" href="pictures/logov2.jpg">
		<link rel="stylesheet" type="text/css" href="css/storestyles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<meta name="author" content="Luana Strimbeanu">
		<meta name="keywords" content="photography, luana, strimbeanu, store">
		<meta name="description" content="Luana Strimbeanu Photography - Store">
	</head>
	
	<body>

		<%- include('../fragments/header.ejs') %>
		<script src="js/gallery.js"></script>

		<div>
			<h1> Store </h1>
		</div>
		<main>
			
		</main>

		

		<%- include('../fragments/store_footer.ejs') %>
		
	</body>
</html>