<script src="js/timespent.js"></script>
<script src="js/navigationmarkup.js"></script>
<footer>
    <p class="back"><a href="/"> &larr; home </a></p>
    <p id="timespent"></p>
    <p id="wordcount">Word count: </p>
</footer>