<header>
    <nav>
        <h2> Navigation </h2> 
        <ul>
            <li> <a class="st" href="about"> About </a>
                <ul>
                    <li><a class="nd" href="about#introduction"> Introducing myself </a></li>
                    <li><a class="nd" href="about#follow"> Follow me </a></li>
                    <li><a class="nd" href="about#contact"> Contact </a></li>
                </ul>
            </li>
            <li> <a class="st" href="projects"> Projects </a>
                <ul>
                    <li><a class="rd" href="projects#afterhours"> After Hours </a> </li>
                    <li><a class="rd" href="projects#colder"> Colder </a></li>
                    <li><a class="rd" href="projects#sculpture"> Sculpture </a></li>
                </ul>
            </li>
            <li> <a class="st" href="store"> Store </a> </li>
        </ul>
    </nav>
</header>