<script src="js/navigationmarkup.js"></script>
<footer>
    <p> <em> All rights reserved &copy; Luana Strimbeanu, 2020 </em> </p>
    <a class="top" href="#"> Back to top </a>
    <p id="timespent"></p>
</footer>